body {
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}
.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}
.todos li {
  background: linear-gradient(to right, #8e2de2,#4a00e0);
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}
